In [1]:
import pandas as pd
import numpy as np
import yfinance as yf

In [2]:
ticker = "MSFT"
start_date = "2023-07-01"
end_date = "2023-08-01"

data = yf.download(ticker, start=start_date,end=end_date)
# data.reset_index(inplace=True)
data.head()

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-07-03,339.190002,340.899994,336.570007,337.989990,337.989990,12508700
2023-07-05,335.089996,341.649994,334.730011,338.149994,338.149994,18172400
2023-07-06,337.299988,342.989990,335.500000,341.269989,341.269989,28161200
2023-07-07,339.320007,341.790009,337.000000,337.220001,337.220001,21185300
2023-07-10,334.600006,335.230011,327.589996,331.829987,331.829987,32791400

In [7]:
data2 = data
data2['%Change'] = data ['Adj Close'] / data ['Adj Close'].shift(1) - 1
data2.dropna(inplace = True)
annual_return = data2['%Change'].mean()*252*100

In [12]:
data2['%Change'].mean()*252*100

-4.101794999599482

In [13]:
data2['%Change'].mean()*np.sqrt(252)

-0.002583887975692503

In [8]:
data

,Open,High,Low,Close,Adj Close,Volume,%Change
Date,,,,,,,
2023-07-05,335.089996,341.649994,334.730011,338.149994,338.149994,18172400,0.000473
2023-07-06,337.299988,342.989990,335.500000,341.269989,341.269989,28161200,0.009227
2023-07-07,339.320007,341.790009,337.000000,337.220001,337.220001,21185300,-0.011867
2023-07-10,334.600006,335.230011,327.589996,331.829987,331.829987,32791400,-0.015984
2023-07-11,331.059998,332.859985,327.000000,332.470001,332.470001,26698200,0.001929
2023-07-12,336.600006,341.649994,335.670013,337.200012,337.200012,29995300,0.014227
2023-07-13,339.559998,343.739990,339.019989,342.660004,342.660004,20567200,0.016192
2023-07-14,347.589996,351.429993,344.309998,345.239990,345.239990,28302200,0.007529
2023-07-17,345.679993,346.989990,342.200012,345.730011,345.730011,20363900,0.001419
2023-07-18,345.829987,366.779999,342.170013,359.489990,359.489990,64872700,0.039800
2023-07-19,361.750000,362.459991,352.440002,355.079987,355.079987,39732900,-0.012267
2023-07-20,353.570007,357.970001,345.369995,346.869995,346.869995,33778400,-0.023122
2023-07-21,349.149994,350.299988,339.829987,343.769989,343.769989,69368900,-0.008937
2023-07-24,345.850006,346.920013,342.309998,345.109985,345.109985,26678100,0.003898
2023-07-25,347.109985,351.890015,345.070007,350.980011,350.980011,41637700,0.017009
2023-07-26,341.440002,344.670013,333.109985,337.769989,337.769989,58383700,-0.037638
2023-07-27,340.480011,341.329987,329.049988,330.720001,330.720001,39635300,-0.020872
2023-07-28,333.670013,340.010010,333.170013,338.369995,338.369995,28463000,0.023131
2023-07-31,336.920013,337.695007,333.359985,335.920013,335.920013,24080166,-0.007241